root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: rgb(186, 114, 29);
}
header {
    display: grid;
    place-items: center;
    color:rgb(214, 214, 214);
}
header img {
    width: 150px;
    height: 120px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#books {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}
.book {
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    background-color: rgb(255, 170, 0);
    line-height: 35px;
    height: 150px;
    font-size: 24px;
}
.book button {
    width: min-content;
    height: min-content;
    position: relative;
    right: 25px;
    bottom: 25px;
    background-color: red;
}
.book div {
    width: 100%;
}
.book input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    position: relative;
    left: 65px;
}
#newBook {
    grid-column: 2;
    display: flex;
    flex-flow: column nowrap;
}
#newBook form div {
    display:flex;
    flex-flow: row nowrap;
    gap: 20px;
}
#newBook fieldset {
    border: 2px black ridge;
    font-size: 24px;
    background-color: rgb(146, 57, 57)
}
#newBook fieldset legend {
    margin-bottom: 15px;
    background-color: rgb(255, 170, 0);;
}
#newBook label {
    width: 90px;
    font-size: 32px;
    color: white;
}
#newBook input:not(input[type="checkbox"]) {
    width: 450px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: rgb(214, 214, 214);
}
#newBook input[type="checkbox"] {
    background-color: rgb(214, 214, 214);
    width: 30px;
    height: 30px;
    margin-left: 420px;
    margin-bottom: 20px;
}
#newBook button {
    width: 560px;
    height: 60px;
    border-radius: 15px;
    font-size: 32px;
    letter-spacing: 2px;
    color: white;
    background-color: red;
}
